<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eat-Da-Burger</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">    <link rel="stylesheet" href="/public/assets/css/style.css">
    
</head>
<body>
<img src="/public/assets/img/burger.png" width="400px" id="burger">
    {{{ body }}}
        
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/public/assets/js/script.js"></script>
</html>