    <header>
        <h1>Eat-Da-Burger</h1>
    </header>

    <div class="row">
        <div class="add-container col s12">
            <h2>Add a burger</h2>
            <form class="add-form">
                
                <div class="form-group">
                    <label for="NewBurger">Burger name:</label>
                    <input id="burgerinput" type="text" id="NewBurger" name="name">
                </div>
                
                <button type="submit" class="add-burger btn">Add burger</button>
            </form>
            
        </div>
    </div>
    <main>
    <div class="container">
    <div class="row burgers">
        
        <div class="availableBurger col 12">
            <h2>Available Burgers</h2>
            {{#each burgers}}
             {{#unless this.devoured}}
              <p>{{this.burger_name}}<span style="margin: 10px;"><button data-id="{{this.id}}" class="eat-button btn">Devour!</button></span></p>
             {{/unless}}
            {{/each}}

        </div>
        
        <div class="eaten col s12">
            <h2>Eaten</h2>
            {{#each burgers}}
             {{#if this.devoured}}
              <p>{{this.burger_name}}</p>
             {{/if}}
            {{/each}}

        </div>
        
    </div>
    </div>
    </main>
        